/* *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
} */
::-webkit-scrollbar {
    display: none;
}
.background{
    background-color: rgba(34, 31, 31);
    background: rgba(0, 0, 0, 0.488);
    backdrop-filter: blur(30px);
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
    /* justify-self: start; */
}


.sp-1 {
    position: absolute;
    top: 10%;
    left: 50%;
    background: rgba(249, 162, 0, 0.298);
    width: 500px;
    height: 300px;
    border-radius: 50%;
    animation: aimation1 8s ease infinite;
}
.sp0 {
    position: absolute;
    top: 30%;
    left: 50%;
    background: rgb(0, 249, 224);
    width: 500px;
    height: 200px;
    border-radius: 50%;
    animation: aimation1 6s ease infinite;
}
.sp1 {
    position: absolute;
    top: 5%;
    left: 33%;
    background: rgba(249, 162, 0, 0.781);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    animation: aimation1 6s ease infinite;
}
.sp2 {
    position: absolute;
    top: 30%;
    left: 40%;
    background-color: rgba(255, 221, 0, 0.786);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    animation: girar 4s linear infinite;
}
.sp3 {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: rgba(255, 132, 0, 0.639);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    animation-delay: 3s;
    animation: aimation2 6s ease infinite;
    animation: girar2 6s linear infinite;
}
.sp4 {
    position: absolute;
    top: 10%;
    left: 40%;
    background: rgba(249, 162, 0, 0.781);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    animation: colorchange 3s linear infinite;
    
}
.sp5 {
    position: absolute;
    top: 50%;
    left: 55%;
    background-color: rgba(255, 221, 0, 0.786);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    animation: aimation2 8s ease infinite;
}
.sp6 {
    position: absolute;
    top: 50%;
    left: 40%;
    background-color: rgba(255, 132, 0, 0.639);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    animation: aimation1 2s ease infinite;
}
.sp7 {
    position: absolute;
    top: 60%;
    left: 35%;
    background-color: rgba(68, 255, 0, 0.624);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    animation: aimation1 5s ease infinite;
}
.sp8 {
    position: absolute;
    top: 45%;
    left: 40%;
    background-color: rgba(0, 0, 255, 0.639);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    animation-duration: 1s;
    animation: girar2 3s ease infinite;
}
.sp9 {
    position: absolute;
    top: 30%;
    left: 70%;
    background: rgba(87, 0, 249, 0.781);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    animation: aimation2 8s ease-in-out infinite;
}
.sp10 {
    position: absolute;
    top: 40%;
    left: 50%;
    background: rgba(249, 162, 0, 0.781);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    animation: aimation1 4s ease-in-out infinite;
}
.sp11 {
    position: absolute;
    top: 50%;
    left: 50%;
    background: rgba(249, 162, 0, 0.781);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    animation: aimation3 10s ease-in-out infinite;
}
.sp12 {
    position: absolute;
    top: 20%;
    left: 40%;
    background: rgba(255, 64, 0, 0.141);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    animation: aimation3 20s ease-in-out infinite;
}
@keyframes aimation1 {
    0%{
        transform: translate(0px, 0vpx);
        width: 200px;
    }
    25%{
        transform: translate(10px, 20px) scale(-150%);
    }
    50%{
        transform: translate(20px, 30px) scale(150%) rotate(180deg);
        background-color: rgba(255, 0, 47, 0.673);
    }
    75%{
        transform: translate(10px, 10px) scale(70%);
    }
    100%{
        transform: translate(0px, 0xp)rotate(180deg);
        width: 200px;
    }
}
@keyframes aimation2 {
    0%{
        transform: translate(0vh, 0vw) scale(0%);
    }
    25%{
        transform: translate(-10vh, -20vw) scale(-50%);
    }
    
    75%{
        transform: translate(-10vh, 10vw) scale(20%);
    }
    100%{
        transform: translate(0vh, 0vw) scale(0%);
    }
}
@keyframes aimation3 {
    0%{
        transform: translate(0px, 0vpx);
    }
    25%{
        transform: translate(10px, 20px) scale(150%);
    }
    50%{
        transform: translate(20px, 30px) scale(150%);
        background-color: rgba(208, 0, 255, 0.673);
    }
    75%{
        transform: translate(10px, 10px) scale(70%);
    }
    100%{
        transform: translate(0px, 0xp);
    }
}
@keyframes girar {
    0%{ transform:  rotate(0deg)  translate(-100px)  rotate(0deg); }
    
    100% { transform: rotate(360deg) translate(-100px)  rotate(-360deg); }
}
@keyframes girar2 {
    0% { transform: rotate(360deg) translate(-100px)  rotate(-360deg); }
    100%{ transform:  rotate(0deg)  translate(-100px)  rotate(0deg); }   
}
@keyframes colorchange {
    0%{ 
        background-color: rgba(255, 132, 0, 0.639);
     }
     50%{
        background-color: rgba(255, 81, 0, 0.639);
    }
    
    100% { 
        background-color: rgba(255, 132, 0, 0.639);
     }
}